<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Resume Analyzer</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">

    <h1>🤖 AI Resume Analyzer</h1>

    <p>
        Upload your resume and get an AI-powered ATS score,
        skill extraction and improvement suggestions.
    </p>

    <form action="/upload" method="POST" enctype="multipart/form-data">

    <label><b>Upload Resume (PDF)</b></label><br><br>

    <input type="file" name="resume" accept=".pdf" required>

    <br><br>

    <label><b>Paste Job Description</b></label><br><br>

    <textarea
        name="job_description"
        rows="10"
        cols="70"
        placeholder="Paste the Job Description here..."
        required
    ></textarea>

    <br><br>

    <button type="submit">Analyze Resume</button>

</form>

</div>

</body>
</html>